@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
  --black:#000000;
  --catalina: #06327d;
  --bluetiful: #2b70e4;
  --vegan:#209d5c;
  --sunglow: #ffd034;
  --white: #ffffff;
  --light-blue: #cadbf8;
  --border-radius: 10px;
}
/* BASIC FORMATTING */
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

img {
  max-width: 100%;
  object-fit: contain;
 
}

body {
  font-family: Poppins;
  font-size: 1.125rem;
  line-height: 1.5;
  color: var(--black);
  background-color: var(--catalina);
  margin: 0;
  padding: 0;
  
}

main {
  background-color: var(--white);
  border-bottom: 5px solid var(--sunglow);
  border-top: 5px solid var(--sunglow);
}
header {
  color: var(--white);
  /* background-color: var(--catalina); */
  text-transform: uppercase;
  font-weight: normal;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: baseline;
  gap: 1rem;
}
.wrapper {
  max-width: 1200px;
  margin: 0 auto;
}
.container {
 
  padding: 0;
  background-color: var(--light-blue);
  border-top: solid 5px var(--sunglow);
  border-bottom: solid 5px var(--sunglow);
}
h1 {
  font-weight: 300;
  font-size: 3rem;
  line-height: 1.1667;
}
nav {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  /* flexbox stuff */
  display: flex;
  flex-flow: row wrap;
  gap: 1rem;
  justify-content: center;
}
nav a {
  display: block;
  font-size: 1.1rem;
  color: var(--white);
  text-decoration: none;
  justify-content: center;
  align-items: baseline;

}
.logo {
display: flex;
gap: 1rem;
align-items: center;
}
.logo h1 {
  padding-top: 2rem;
}
h2 {
  font-weight: 300;
  font-size: 2.5rem;
  line-height: 1.1667;
  text-transform: uppercase;
  background-color: var(--light-blue);
  margin: 0;
  padding: 0rem;


}
h3 {
  font-weight: 300;
  font-size: 1.75rem;
  line-height: 1.1667;
}
.card-container {
  display: grid;
  grid-template-columns: 1fr;
  padding: 1rem;
  gap: 1rem;
  /* background-color: var(--light-blue); */

}
.card-container img {
  border-radius: var(--border-radius);
}
.card1 {
  background-color: var(--white);;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  align-items: center;
}
.card1-children h2{
  background-color: var(--white);
 
}
.card {
  background-color: var(--light-blue);
  gap: 0rem;

}
.our-coffee {
  padding: 1rem;
}
.card-latte {
  /* similar to card1 but with more caffine */
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-color: var(--white);
  align-items: center;
  gap: 1rem;
}
.button1 {
  color: var(--white);
  background-color: var(--vegan);
  text-decoration: none;
  padding: 0.5rem;
  border-radius: var(--border-radius);
}
.button2 {
  color: var(--white);
  background-color: var(--catalina);
  text-decoration: none;
  padding: 0.5rem;
  border-radius: var(--border-radius);
}
footer {
  color: var(--white);
  /* background-color: var(--catalina); */
  text-align: center;
}
@media (min-width: 650px){
  .card-container{
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 1000px) {
  header {
   justify-content: space-between;
  }
  .card-container {
    grid-template-columns: repeat(4, 1fr);
   
  }
}
